<%= erb :header %>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"><%= @status_err %></h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= @error_msg %>&nbsp;</p><a href="<%= @req_referer %>">Вернуться на предыдущую страницу</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
<%= erb :footer %>