<%= erb :header %>    
    <div class="container">
        <h2><a href="/prjedit/<%= ERB::Util.url_encode(@prj[:id]) %>"><%= @prj[:projname] %></a></h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Номер сборки</th>
                    <th scope="col" class="text-center">Проект</th>
                    <th scope="col" class="text-center">git репозиторий</th>
                    <th scope="col" class="text-center">Дата сборки</th>
                    <th scope="col" class="text-center">Число собранных пакетов</th>
                    <th scope="col" class="text-center">Состояние</th>
                    <th scope="col" class="text-center">Перейти к сборке</th>
                </tr>
            </thead>
            <tbody>
                <% @builds_list.each do |item| %>
                <% 
                        case item[:state] 
                        when 0
                        st = "Идет сборка"
                        cl = "text-bg-secondary"
                        when 1
                        st = "Ошибка сборки"
                        cl = "text-bg-danger"
                        when 2
                        st = "Сборка успешно завершена"
                        cl = "text-bg-success"
                        when 3
                        st = "Ожидает сборки"
                        cl = "text-bg-secondary"
                        when 4
                        st = "Отменена"
                        cl = "text-bg-light"
                        else
                        st = "Неизвестно"
                        cl = "text-bg-light"
                        end
                %>   end
                <tr>
                    <td scope="row"><%= item[:buildid] %></td>
                    <td class="text-center"><a href="/prjedit/<%= ERB::Util.url_encode(item[:projid]) %>"><%= item[:prjname] %></a></td>
                    <td class="text-center"><a href="/prjgitf/<%= ERB::Util.url_encode(item[:projid]) %>/<%= ERB::Util.url_encode(item[:gitid]) %>"><%= item[:reponame] %></a></td>
                    <td class="text-center"><%= item[:createat] %></td>
                    <td class="text-center"><%= item[:pkgcnt] %></td>
                    <td class="text-center <%= cl %>">
                        <%= st %>
                    </td>
                    <td class="text-center">
                    <% if item[:state] == 3 %>
                    <a href="/buildterm/<%= ERB::Util.url_encode(item[:buildid]) %>">Отменить</a>
                    <% elsif item[:state] == 4 %>
                    Нет информации
                    <% else %>
                    <a href="/buildinfof/<%= ERB::Util.url_encode(item[:buildid]) %>">Детальнее</a>
                    <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="container">
        <nav aria-label="Навигация по доступным сборкам">
            <ul class="pagination pagination-sm justify-content-center">
                <% @max_pages.times.each do |item| %>
                <% if (item+1) == @page %>
                <li class="page-item active" aria-current="page">
                    <span class="page-link"><%= item+1 %></span>
                </li>
                <% else %>
                <li class="page-item"><a class="page-link" href="/prjbuilds/<%= ERB::Util.url_encode(@prj[:id]) %>?p=<%= item+1 %>"><%= item+1 %></a></li>
                <% end %>
                <% end %>
            </ul>
        </nav>
    </div>
<%= erb :footer %>